@charset "ISO-8859-1";

.navbar-inverse{
    background-color:#00688B;

  
    
}
.container1 {
	padding: 16px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	font-color:#ffffff;
	padding: 40px 40px;
	box-sizing: border-box;
	background:#00688B ;
}
.container2 {
	padding: 16px;
	position: absolute;
	top:200%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	font-color:#ffffff;
	padding: 40px 40px;
	box-sizing: border-box;
	background:#00688B ;
}
.container{
	     
	   	position: absolute;
		top: 65%;
	    padding: 40px 120px;
	
}


.faq {
	padding: 16px;
	position: absolute;
	top: 135%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:;
	font-color:#ffffff;
	padding: 40px 40px;
	box-sizing: border-box;
	background:#ffffff ;
}




.header1{
	top:10;
}
.header{
	
	top: 55%;
	
}

.header2{
	top:50%;
}
.replycontainer{
	     
	   	position: absolute;
		top:50%;
		width:100%;
	    padding: 40px 120px;
		background:#C2DFFF ;
}
button {
	background-color: 	#FFD700;
	color: black;
	padding: 10px 17px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
	outline: none;
	height: 40px;
	
	font-size: 16px;
	border-radius: 20px;
}
button:hover {
	opacity: 0.8;
}

span.psw {
	float: right;
	padding-top: 16px;
