@charset "ISO-8859-1";

body{
	background-color:#00688B;
}

.container {
	padding: 16px;
	position: absolute;
	top:40%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	
	padding: 40px 40px;
	box-sizing: border-box;
	background:#ffffff ;
}


.navbar-inverse{
    background-color:#ffffff;
    border-color:#000000;
    font-color:#000000;
	
    
}

nav:hover{
	color:#000000;
	
}
button {
	background-color: lightblue;
	color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	outline: none;
	height: 40px;
	font-weight:bold;
	font-size: 16px;
	border-radius: 20px;
}
button:hover {
	background-color:#FFD700;
	opacity: 0.8;
}

span.psw {
	float: right;
	padding-top: 16px;
}
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

