@charset "ISO-8859-1";

.square:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}





.mega{
	background-color:lightblue;
}

.card{
	height:200px;
}








.page-footer{
	background-color:#DCDCDC;
}
.jumbotron{
	margin-top:-2px;
	background: url("../images/image104.jpg") top center;
	background-size:cover;
	color:black;
	width:100%;
	
}

.jumbotron h1{
	color:#00688B;
}


.navbar
        {   border-right: 1px solid #bbb;
            border:0px solid #00688B;
}
nav .navbar-nav li a{
  color:#D6EAF8 !important;
  }



header{
	background-color:#ffffff;
	color:#ffffff;
	
	border-bottom:#00688B 3px solid;
	
}




header a{
	color:#ffffff;
	text-deoration:none;
	text-transform :uppercase;
	font-size:16px;
}
header .highlight, header .current a{
	
	color :#00688B;
	font-weight :bold;
    font-align:center;
}

header .second{
	color:black;
} 



