@charset "ISO-8859-1";

.container {
	padding: 16px;
	position: absolute;
	top: 110%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 550px;
	height: 1200px;
	padding: 40px 40px;
	box-sizing: border-box;
	background:#00688B ;
}


.navbar-inverse{
    background-color:#00688B;
    border-color:#000000;
    border-width: 3px;
	
    
}
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color:	#ADD8E6;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #000000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #ADD8E6;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


button {
	background-color: 	#FFD700;
	color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	outline: none;
	height: 40px;
	
	font-size: 16px;
	border-radius: 20px;
}
button:hover {
	opacity: 0.8;
}

span.psw {
	float: right;
	padding-top: 16px;
}
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
